<%-include('partials/header')%>
<link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
<style>
  body {
    background-color: #006a71;
  }
  .login-container{
    top: 100px;
  }
  label{
    margin: 2px;  
  }
  .logintext{
    margin: 0;
  }
  .loginheading{
    margin: 0;
  }
  .form-group{
    margin-bottom: 5px;
  }
  input {
    margin: 1px;
  }
</style>
<div class="modal err-modal" id="err-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <center><span id="err"></span></center> 
      </div>
    </div>
  </div>
</div>
<div class="container">

  <div class="card login-container">
    <div class="logtxt">
      <h1 class="loginheading">Register</h1>
      <br />
      <h6 class="logintext">here</h6>
    </div>
    <center><hr></center>
    <div class="login-form">
      <form >
        <div class="form-group">
          <label for="email" class="label">Email:</label>
          <br>
          <input type="email" name="email" placeholder="Enter Email" id="email">
        </div>
        <div class="form-group">
          <label for="password" class="label">Password:</label>
          <br>
          <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <div class="form-group">
          <label for="confirmpassword" class="label">Confirm Password:</label>
          <br>
          <input type="password" id="confirmpassword" placeholder="Confirm Password">
        </div>
        <div class="form-group">
          <label for="type" class="label">Type:</label>
          <br>
          <div class="type-option">
            <input type="radio" name="type" value="user" checked>
            <label for="user">User</label>
          </div>
          <div class="type-option">
            <input type="radio" name="type" value="comm manager">
            <label for="comm manager">Community Manager</label>
          </div>
        </div>
        <button id="btnRegister">Register</button>
      </form>
      <br>
      <a href="/">Already Registered? Login</a>
    </div>
    
  </div>
</div>
<script>
  $('#btnRegister').on('click',event=>{
    event.preventDefault();
    $.ajax({
      method: "POST", 
      url: '/register',
      data: {
        email: $('#email').val(),
        password: $('#password').val(),
        type: $("input[name='type']:checked").val()
      }
    })
    .done( response=> {
      if(response == "email taken"){
        $('#err').text("Email Already Exists");
        $('#err-modal').modal('show')
      } else if(response == "user registered") {
        console.log("HEHEHEHHEH");
        window.location = '/user';
      } else {
        $('#err').text("Error Occurred, Try again");
        $('#err-modal').modal('show')
      }
    });
  });
  
</script>
<%-include('partials/footer')%>
