<%-include('partials/header')%>

<%-include('partials/navbar')%>
<div class="body-wrapper">
  <%-include('partials/sidenav')%>
  <div style="height: 1000px; background-color: #f4f4f4;">
  
  </div>
</div>

<%-include('partials/footer')%>